body {
  font-family: arial;
}
.btn {
  background-color: orange;
  color: black;
  margin: 20;
  gap: 10px;
}
#results {
  background-color: #125688;
  height: 50px;
  margin: 20;
  padding: 40px;
  text-align: center;
  text-size-adjust: 60;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 60px;
}
.conv {
  margin: 20;
}
.header {
  overflow: hidden;
  background-color: #9ba5d182;
  padding: 20px 10px;
}
.header img {
  width: 100%;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.rainbow-text {
  /* Define the linear gradient background with rainbow colors */
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  /* Clip the background to the shape of the text */
  -webkit-background-clip: text; /* For WebKit browsers like Chrome, Safari */
  background-clip: text;
  /* Make the text color transparent so the background gradient shows through */
  color: transparent;
  /* Optional: Add some styling for better visibility */
  font-size: 90px;
  font-family: sans-serif;
  text-align: center;
}
.img {
  max-width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}
